.header1 {
  background-color: rgba(46, 44, 44, 0.589);
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: bold;
  margin-left: 105px;
  margin-right: 105px;
  margin-top: 10px;
  border-radius: 10px 10px;
}

.header1 .text-sm {
  font-size: 0.875rem;
  margin-top: 10px;
  color: #ffffff;
}

.navbar1 {
  display: flexbox;
  justify-content: center;
  margin-left: 105px;
  margin-right: 105px;
  border-radius: 10px 10px;
  text-align: center;
  background-color: #ff0000;
  padding: 5px;
}

.navbar1 a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navbar1 a:hover {
  background-color: #dd0000;
}

.logo {
  width: 50px;
  height: 50px;
}

.contact p {
  display: flex;
  align-items: center;
}

.contact i {
  margin-right: 8px;
}

.social-icons a {
  color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
  background-color: #3b82f6;
  color: white;
}
